@charset 'utf-8';

body{
    font-family: '游ゴシック','メイリオ',sans-serif;
}

.caption{
    font-size: 15px;
    font-weight: bold;
    color: rgb(80,80,80);
    margin-left: 30px;
}

input{
    margin: 0 0 20 30;
}

.comment{
    font-size:12px;
}

.form{
    display:flex;
    flex-wrap: wrap;
    width: 600px;
}
.item1{
    width:calc(100%/2);
    padding: 20px 10px;
    text-align:center;
}

.item2{
    width:calc(100%/2);
    padding: 20px 10px;
    text-align:center;
}

.submit_button{
    width: 150px;
    height: 45px;
    margin:30 0 0 30;
    background-color:lightblue;
    color:white;
    border-radius: 3px;
    border-width: 2px;
    border-color: rgb(180,180,180);
    font-size: 15px;

}
